raw_data
drive
*.dta
*.xls
*.xlsx
*.csv
*.pyc
*.DS_Store
*.Rhistory
*.Rapp.history
*.Rout
*/temp
*.doc
*.docx
*.tmp

# Latex
*.aux
*.bcf
*.bbl
*.blg
*-blx.bib
*.fls
*.fdb_latexmk
*.lyx~
*.lyx#
*.out
*.xml
*.gz
*-eps-converted-to.pdf
paper_slides/paper/min_wage_rent.log
paper_slides/slides/long_slides.log
paper_slides/slides/long_slides.nav
paper_slides/slides/long_slides.snm
paper_slides/slides/long_slides.toc
paper_slides/staged_output/output.log

