raw_data
drive
*/temp
*.dta
*.xls
*.xlsx
*.csv
*.DS_Store
*.Rhistory
*.Rapp.history
*.Rout

# Latex
*.aux
*.bcf
*.bbl
*.blg
*.out
*.xml
*.gz
paper_slides/paper/00main.log
paper_slides/slides/long_slides.log
paper_slides/slides/long_slides.nav
paper_slides/slides/long_slides.snm
paper_slides/slides/long_slides.toc
paper_slides/staged_output/output.log
